body{
    background-image: url("../assests/images/Icon_Grid.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
}

.chatBox{
    display: grid;
    width: 75dvw;
    height: 100%;
    margin-top: 10px;
}

.tusharRow{
    position: absolute;
    bottom: 5vh;
    display: flex;
}

.inputBox input{
    width: 60vw;
    border-radius: 20px;
    border: 0.5px gray solid;
    height: 6vh;
    padding: 0% 3%;
    margin-right:1rem ;
}


.tusharSend{
    border: none;
    position: absolute;
    top: 1vh;
    right: 25%;
    background: transparent
}

.chatBoxContainer{
    max-height: 90vh;
    overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent; /* Change this to match your background color */
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: var(--af-white);
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  .friendsList{
    position: absolute;
    bottom: 0px;
    min-width: 15vw;
    height: 4vh;
    right: 2vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .friendsList.expanded {
    height: 60vh; /* Set the desired expanded height */
    transition: height 0.4s linear; /* Add a 2-second linear transition for the height property */
  }
  .topFriends{
    position: absolute;
    top: 0;
  }